<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Catalog</title>
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css">
</head>
<body>
    <div>
        <h1>Biblioteka cyfrowa</h1>
        <table>
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Rok</th>
                <th>Edytuj/Usuń</th>
            </tr>
            <% books.forEach((book, index) => { %>
                <tr>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.year %></td>
                    <td class="action-buttons">
                        <form class="edit-form" action="./edit/<%= index %>" method="get">
                            <button type="submit">Edytuj</button>
                        </form>
                        <form class="delete-form" action="/delete/<%= index %>" method="get">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
        <a href="/add" class="add-book-button">Dodaj książkę</a>
    </div>
</body>
</html>
